
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 30 100% 98%;
    --foreground: 20 14% 4%;
    --card: 30 100% 98%;
    --card-foreground: 20 14% 4%;
    --popover: 30 100% 98%;
    --popover-foreground: 20 14% 4%;
    --primary: 11 100% 68%;
    --primary-foreground: 20 14% 4%;
    --secondary: 30 98% 73%;
    --secondary-foreground: 20 14% 4%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 30 98% 73%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 11 100% 68%;
    --radius: 0.8rem;
  }

  .dark {
    --background: 20 14% 4%;
    --foreground: 0 0% 98%;
    --card: 20 14% 4%;
    --card-foreground: 0 0% 98%;
    --popover: 20 14% 4%;
    --popover-foreground: 0 0% 98%;
    --primary: 11 100% 68%;
    --primary-foreground: 20 14% 4%;
    --secondary: 30 98% 73%;
    --secondary-foreground: 20 14% 4%;
    --muted: 215 28% 17%;
    --muted-foreground: 215 20% 65%;
    --accent: 30 98% 73%;
    --accent-foreground: 20 14% 4%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 215 28% 17%;
    --input: 215 28% 17%;
    --ring: 11 100% 68%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
